@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* == VARIABLES == */
/* Tamaños fuente */
:root {
  --sm: .813rem;
  --normal: 1rem;
  --med: 1.25rem;
  --big: 4.75rem;
  --font: 'Montserrat', sans serif;
  --reg: 400;
  --semi-bold: 600;
  --bold: 700;
  
}
@media screen and (min-width: 768px){
  :root{
      --big: 6rem;
      --med: 1.4rem;
      --normal: 1.2rem;
      --sm: .875rem;
  }
}
/* Colores */
:root {
  --primColor: #87ceeb;
  --whiteColor: #FAFAFF;
  --darkColor: #000000;
  --textColor: #697477;
}

/* == GLOBALES == */
*,::before,::after{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font);
  font-weight: var(--semi-bold);
  width: 100%;
  height: 100%;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
h1, h2, h3, p {
  margin: 0;
}

.section {
  padding: 5rem 2rem;
  min-height: 100vh;
}
@media (max-width: 767px) {
  .section {
    padding: 5rem 1rem;
  }
}
.section-title {
  position: relative;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--textColor);
}
.section-title::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 3rem;
  margin: auto;
  width: 4rem;
  height: .2rem;
  background-color: var(--primColor);
}


/* == HEADER SECTION == */
/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  list-style: none;
  margin: 0;
}

.navbar-link {
  margin-right: 2rem;
  text-decoration: none;
  color: var(--whiteColor);
  font-size: 1.1rem;
}

.navbar-link:hover {
  border-bottom: var(--whiteColor) .15rem solid;
  cursor: pointer;
  margin-bottom: -.15rem;
}
.nav {
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 1rem;
  width: 100vw;
  height: 9vh;
  z-index: 100;
  background-color: var(--primColor);
}

@media screen and (max-width: 767px) {

  .navbar-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    outline: none;
    background: var(--primColor);
  }
  .navbar-toggle::before {
    content: '';
    position: absolute;
    top: 1.5rem;
    background-color: var(--whiteColor);
    width: 2rem;
    height: .2rem;
    transform: translateY(-5px);
    transition: 0.3s;
  }
  .navbar-toggle::after {
    content: '';
    position: absolute;
    top: 1.5rem;
    background-color: var(--whiteColor);
    width: 2rem;
    height: .2rem;
    transform: translateY(5px);
    transition: 0.3s;
  }
  .navbar-toggle.active::before {
    transform: translateY(0px) rotate(45deg);
  }
  .navbar-toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  .nav {
    height: 3rem;
  }

  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3rem;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0,0,0, 0.9);
    transition: .5s;
  }
  .navbar.active {
    left: 0;
  }
  .navbar-link {
    margin: 1.5rem 1rem;
    font-size: 1.5rem;
  }
  .navbar-link:hover {
    color: var(--primColor);
    border-bottom: none;
    margin-bottom: 1.5rem;
  }


}

/* Header */
.header {
  height: 100vh;
  background: var(--primColor);
}
.header-text {
  position: relative;
  top: 0;
  color: var(--whiteColor);
  line-height: 1.2;
  margin-left: .5rem;
}
.header-title {
  position: absolute;
  top: 7rem;
  left: 1rem;
  font-size: var(--big);
  font-weight: var(--bold);
  text-shadow: 0 15px 20px rgba(0,0,0, 0.5);

}
.header-subtitle {
  position: absolute;
  top: 24rem;
  left: 1rem;
  font-size: 2rem;
  font-weight: var(--semi-bold);
  text-shadow: 0 15px 20px rgba(0,0,0, 0.4);
}
.header-arrow {
  position: absolute;
  right: 50%;
  left: 44%;
  /* margin-top: 10rem; */
  bottom: 2rem;

}

@media screen and (min-width: 768px) {

  .header {
    height: 100vh;
  }

  .header-text {
    margin-left: 0;
    top: 10rem;

  }
  .header-title {
    -webkit-box-reflect: below -35px linear-gradient(to bottom, rgba(0,0,0, 0.0), rgba(0,0,0,0.5) );
    top: 50%;
    left: 10%;
  }
  .header-subtitle {
    top: 14rem;
    left: 10%;
  }
  .header-arrow {
    margin-top: 7rem;
    right: 50%;
    left: 48%;
    bottom: 0;
  }
}


/* == ABOUT == */
.about {
  background-color: var(--darkColor);
}
.about-title {
  color: var(--whiteColor);
}
.about-content {
  width: 50%;
  padding: 1rem;
}
.about-subtitle {
  color: var(--primColor);
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.about-text {
  font-size: var(--normal);
  color: var(--whiteColor);
  font-weight: var(--reg);
}
.about-links {
  display: flex;
  margin-top: 2rem;
  list-style-type: none;
  color: var(--whiteColor);
  margin-left: -2rem;
}
.about-links a {
  margin-right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #697477;
}
.about-links a:hover {
  color: var(--primColor);
}
@media screen and (max-width: 767px) {
  .about-content {
    width: 100%;
  }
}

/* Skills section */
.skills {
  background-color: white;
}
.skills-title {
  font-size: var(--med);
  color: var(--primColor);
  margin: 1rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.skills-title:last-of-type {
  margin-top: 3rem;
}

.skills-title i{
  font-size: 2rem;
  margin-right: .2rem;
}
.skills-list {
  display: flex;
  flex-direction: row;
  width: 95%;
  gap: 1rem;
  margin: 2rem auto;
}

.skills-item {
  list-style: none;
  padding: 1rem;
  background-color: var(--whiteColor);
  border-radius: 1rem;
  text-align: center;
  font-size: var(--sm);
  color: var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-item:hover {
  background-color: var(--primColor);
  color: var(--whiteColor);
  transform: translateY(-.2rem);
  transition: transform 0.2s ease-out;
}
.skills-item i {
  font-size: 1.5rem;
  margin-right: .2rem;
}

@media screen and (max-width: 767px) {

  .skills-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    margin: 2rem auto;
    gap: 1rem;
  }
  .skills-title {
    justify-content: center;
    margin-right: 3rem;
  }
  .skills-item {
    padding: .7rem;
  }
}

/* == Proyects == */
.proyects {
  background-color: var(--whiteColor);
}
.proyects h2 {
  color: #000000;
}
.proyects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 90%;
  margin: 0 auto;  
}
@media screen and (max-width: 767px) {
  .proyects-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
}

/* == Proyect Card == */
.pr-card {
  border-radius: 1rem;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-size: cover;
  min-height: 17rem;
}
.pr-info {
  position: relative;
  /* bottom: 0; */
  width: 100%;
  height: 17rem;
  background-color: #fff;
  opacity: 0.8;
  transform: translateY(100%)
    translateY(-4rem)
    translateZ(0);
  transition: transform 0.3s ease-out;
}
.pr-info::before {
  z-index: 2;
  display: block;
  position: absolute;
  bottom: 0;
  content: '';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  filter: blur(10px);
  opacity: 0;
  transform: translateY(-100%)
    translateY(17rem)
    translateZ(0);
  transition: transform 0.3s ease-out;
}
.pr-card:hover .pr-info,
.pr-card:hover .pr-info::before {
  transform: translateY(0) translateZ(0);
}
.pr-title {
  text-align: center;
  font-size: var(--med);
  font-weight: var(--bold);
  padding: 1rem;
}
.pr-descr {
  margin: 1rem;
}
.pr-links {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}
.pr-link {
  padding: .5rem 2rem;
  background: var(--primColor);
  border-radius: .5rem;
  cursor: pointer;
  z-index: 5;
  text-decoration: none;
  color: var(--whiteColor);
}
.pr-link:hover {
  background: transparent;
  border: var(--primColor) .1rem solid;
  margin: -.1rem;
  color: var(--primColor);
}

/* == Contact == */
.contact-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 90%;
}
.contact-data {
  padding-left: 7rem;
}
.contact-data div {
  margin: 2rem;
}
.contact-data h3 {
  color: var(--primColor);
  font-size: var(--med);
  margin-bottom: 1rem;
}
.contact-data a {
  color: var(--textColor);
  cursor: pointer;
}
.c-form {
  padding-right: 7rem;
  margin: 2rem;
}
.c-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;

}
.c-input {
  padding: .5rem 1rem;
  border: var(--darkColor) 1px solid;
  border-radius: .3rem;
  margin-bottom: 2rem;
  width: 100%;
}
.c-button {
  padding: .8rem 1.7rem;
  background-color: var(--primColor);
  border: none;
  border-radius: .3rem;
  color: var(--whiteColor);
  font-weight: var(--semi-bold);
  display: block;
  margin-left: auto;
  cursor: pointer;
}
.c-button:hover {
  border: var(--primColor) 1px solid;
  background-color: white;
  color: var(--primColor);
}

@media (max-width: 767px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contact-data {
    padding: 0;
  }
  .contact-data div {
    margin-top: -.2rem;
  }
  .c-form {
    padding: 0;
  }
  .c-inputs {
    display: flex;
    flex-direction: column;
  }
  .c-input {
    margin-bottom: 1rem;
  }
}

